@font-face {
  font-family: 'Han_Sans_CN_Light';
  src: url('/fonts/Han_Sans_CN_Light.otf') format('truetype');
}


/* body {
  background: #dcf4fe; 
  background: -webkit-linear-gradient(to right, #fee1f7, #dcf4fe);
  background: linear-gradient(to right, #fee1f7, #dcf4fe); 
} */

html {
  min-height: 100%;
  height: 100%;
}

body {
  min-height: 100%;
  background: radial-gradient(
    circle at top center,
    #fee1f7 0%,
    #dcf4fe 25%,
    white 70%
  );
  background-attachment: fixed;
  margin: 0;
}